body
{
    margin: 0px;
    padding: 0px;
    background-image:url(picture1.jpg);
position:fixed;
   background-size: cover;
}
#head
{
background-color: #fff;
width: 350px;
height: 300px;
position: relative;
text-align: center;
margin: auto;
margin-top: 100px;
left:500px;
padding: 20px 0;
box-shadow: 0 0 20px 0px rgba(0,0,0,0);
overflow: hidden;
}
#head span
{
    font-weight: bold;
    padding: 0 10px;
    color:#555;
    cursor: pointer;
    height: 23px;
    margin: 0;
    width: 120px;
    display: inline-block;
    
}
#head span{
    display: inline-block;
   }
   #head form{
       max-width: 300px;
       padding: 0 20px;
       position: absolute;
       top: 130px;
       transition: transform 0.6s;
   }
#head input{
    width: 80%;
    height: 30px;
    margin: 10px 10px;
    padding:60 10px;
    border: 1px solid #ccc;
}
#head button
{
    width: 190px;
    border:none;
    height: 36px;
    cursor: pointer;
      margin: 30px 0;
}
#head button:focus
{
    outline: none;
}
#RagisterForm
{
    left: -300px;
    margin-top: -52px;
}
#LoginForm
{
    left 0;
    margin-top: -34px;
    height: 400px;
}
#head #Line
{
    width: 35%;
    border: none;
    background: #ff5236;
    height: 3px;
    margin-top: 8px;
    margin-left: 42px;
    transition: transform 0.7s;
}
#LoginForm p{
    color: black;
    font-size: 12px;
    margin-top: 4px;
}
#RagisterForm p{
    margin-top: -14px;
    color: bold;
    font-size: 12px;
}
